<h2> Listing repositories, star count and used languages of a GitHub user </h2>

<p> This web app allows you to print the repositories, total stargazers and used languages of a selected GitHub user. <br>
    The repositories with corresponding star amounts and the total number of stargazers are always printed. <br>
    Listing the languages takes significantly more time than just listing repositories, therefore it is optional. <br>
    <br>
    Below, provide the username you want to check and determine if you want to see the most used languages 
    (type "y" for yes and "n" for no). <br>
    Depending on the number of repositories that the selected user has published on his profile, 
    this action can take from several seconds up to several minutes. <br>
    <br>
    <br>
    <b>WARNING</b><br>
    Please note that there is an hourly limit imposed by GitHub on the API access</b>. <br>
    After the limit is reached, only 30 first repositories together with the starcount in them will be shown.<br>
    The list of used languages will only contain languages used in those 30 repositories 
    and will be printed without specifying their usage in bytes. <br>
    Moreover, the statistics for organisation accounts (like Microsoft) will not be presented correctly. <br>
</p>

    <form method="post" name="movie_edit">
    <div class="field">
      <label for="username" class="label">Username</label>
      <div class="control">
        <input type="text" name="username" class="input" required="required"/>
      </div>
    </div>

    <div class="field">
      <label for="show" class="label"><br>Show languages? ("y" or "n")</label>
      <div class="control">
        <input type="text" name="show" class="input"/>
      </div>
    </div>

    <div class="field">
        <label for="submit" class="label"><br></label>
        <div class="control">
          <input type="submit" name="submit" class="input"/>
        </div>
      </div>

  </form>